.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .form {
    display: block;
    margin: 0 16px;

    .form-field {
      display: block;
    }

    .btn {
      margin: 10px 0;
    }
  }
}
