<ng-container [formGroup]="form">
    <ng-container [ngSwitch]="formField.type">
      <mat-form-field *ngSwitchCase="'text'">
        <mat-label>{{formField.label}}</mat-label>
        <input matInput type="text" [formControlName]="formField.name" >
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'email'">
        <mat-label>{{formField.label}}</mat-label>
        <input matInput type="email" [formControlName]="formField.name">
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'phone'">
        <mat-label>{{formField.label}}</mat-label>
        <input matInput type="tel" [formControlName]="formField.name">
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'password'">
        <mat-label>{{formField.label}}</mat-label>
        <input matInput type="password" [formControlName]="formField.name">
      </mat-form-field>
    </ng-container>
</ng-container>
